// Body
$body-bg: #f5f8fa;
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(( 0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: $spacer, 4: ($spacer * 1.5), 5: ($spacer * 3), 6: ($spacer * 5), 7: ($spacer * 7), 8: ($spacer * 8), 9: ($spacer * 9), 10: ($spacer * 10), ), $spacers);
